# Local development dependencies go here
--requirement requirements.txt
--requirement requirements-build.txt

# # Docs
# # ------------------------------------------------
# Sphinx==3.*
# sphinx-rtd-theme==0.4.3

# Coverage
# ------------------------------------------------
coverage==5.0.*

# CI
# ------------------------------------------------
black
flake8
